body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: system-ui;
}

.card {
  width: 360px;
  margin: 60px auto;
  padding: 20px;
  background: #020617;
  border-radius: 14px;
  box-shadow: 0 0 40px #000;
  text-align: center;
}

video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#result {
  font-size: 64px;
  margin-top: 15px;
  color: #22c55e;
}

button {
  padding: 10px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
